<div class="container-fluid h-custom ">
  <div class="flex flex-col justify-center items-center mt-[120px] mb-[50px]">

    <div class="flex gap-5 items-center justify-center">
      <div class="w-[90px] h-[20px] bg-[#e9e9e9;]"></div>
      <div class="uppercase text-[35px]">Login</div>
      <div class="w-[90px] h-[20px] bg-[#e9e9e9;]"></div>
    </div>
  </div>
  <div class="flex  gap-[80px] mb-[90px]">


    <div class="w-1/2 ">
      <img src="https://cdn.pixabay.com/photo/2020/01/03/10/48/bakery-4737781_960_720.png" class="img-fluid"
        alt="Sample image">
    </div>
    <div class="w-1/2 flex flex-col gap-5">

      <div class="w-full flex flex-col ">
        <input class="text-[14px] py-3 px-4 w-full border-[1px] border-[#eeeeee]" type="email" placeholder="Enter email"
          id="note-order" />
      </div>
      <div class="w-full">
        <input class="text-[14px] py-3 px-4 w-full border-[1px] border-[#eeeeee]" type="password" placeholder="****"
          id="note-order" />
      </div>
      <div class=" w-full flex items-center gap-3 text-[15px]"> <input type="checkbox" /> <label>Save
          information for next time</label> </div>

      <div class="py-1  w-[100%] text-[15px]"> 
          <div type="button" class="bg-red-600 w-[100%] text-white py-2 px-6 rounded-[7px] text-center">Email or password incorrect</div>
      </div>
      <div class="py-1  w-full flex  text-[15px]"> 
        <button class="bg-[#ee7560;] text-white py-2 px-6 rounded-[7px]">Login</button>
      </div>
    </div>


  </div>
</div>